<header>
    <div>
        <span>Widget Handling</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table>
        <thead>
            <tr>
                <th colspan="2">widget handling options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2"><span>widget handling options</span></th>
            </tr>
            <tr>
                <td colspan="2">Options</td>
            </tr>
        </tbody>
    </table>
</main>