{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
{% set current_day = last_recorded_gametime["day"] %}
{% set current_hour = last_recorded_gametime["hour"] %}
{% set current_minute = last_recorded_gametime["minute"] %}
{%
    set current_weekday =
        "BloodDay"
        if last_recorded_gametime["is_bloodday"] == true else
        last_recorded_gametime["weekday"]
%}
{% set bloodmoon_modifier = "is_bloodmoon" if last_recorded_gametime["is_bloodmoon"] == true else "regular_gametime" %}
{% set bloodday_modifier = "is_bloodday" if last_recorded_gametime["is_bloodday"] == true else "regular_day" %}
<div class="{{ bloodmoon_modifier }} {{ bloodday_modifier }}">
    <span>
        Day <span class="day">{{ current_day }}/{{ next_bloodmoon_date }}</span>,
        <span class="time">{{ current_hour }}:{{ current_minute }}</span>
        ({{ current_weekday }})
    </span>
</div>