{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
<div>
    <span>
        Day <span class="day">{{ last_recorded_gametime["day"] }}</span>,
        <span class="time{%- if last_recorded_gametime["is_bloodmoon"] == true %} bloodmoon{%- endif -%}">{{ last_recorded_gametime["hour"] }}:{{ last_recorded_gametime["minute"] }}</span>
        ({%- if last_recorded_gametime["is_bloodday"] == true %}BloodDay{%- else -%}{{ last_recorded_gametime["weekday"] }}{%- endif -%})
    </span>
</div>