@import url("110-fonts.css");

:root {
    font-size: 16px;
    /* colors have to be issued in HEX, so we can use them without trouble inside out JavaScript portion */
    --background: #000000;
    --main-bar-color: #939598;
    --main-bar-border-color: #6F7172;

    /* StarTrek color information found on: https://web.archive.org/web/20190717130329/http://www.lcarscom.net/ */
    --lcars-pale-canary: #FF9999;
    --lcars-tanoi: #FFCC99;
    --lcars-golden-tanoi: #FFCC66;
    --lcars-neon-carrot: #FF9933;

    --lcars-eggplant: #664466;
    --lcars-lilac: #CC99CC;
    --lcars-anakiwa: #99CCFF;
    --lcars-mariner: #3366CC;

    --lcars-bahama-blue: #006699;
    --lcars-blue-bell: #9999CC;
    --lcars-melrose: #9999FF;
    --lcars-hopbush: #CC6699;

    --lcars-chestnut-rose: #CC6666;
    --lcars-orange-peel: #FF9966;
    --lcars-atomic-tangerine: #FF9900;
    --lcars-danub: #6688CC;

    --lcars-indigo: #4455BB;
    --lcars-lavender-purple: #9977AA;
    --lcars-cosmic: #774466;
    --lcars-red-damask: #DD6644;

    --lcars-medium-carmine: #AA5533;
    --lcars-bourbon: #BB6622;
    --lcars-sandy-brown: #EE9955;
    --lcars-periwinkle: #CCDDFF;

    --lcars-dodger-pale: #5599FF;
    --lcars-dodger-soft: #3366FF;
    --lcars-near-blue: #0011EE;
    --lcars-navy-blue: #000088;

    --lcars-husk: #BBAA55;
    --lcars-rust: #BB4411;
    --lcars-tamarillo: #882211;

    /* pixel values taken from the used images */
    --main_shoulder_width: 16.875em;
    --main_shoulder_height: 4.5em;
    --main_shoulder_gap: calc(
        var(--main_shoulder_width) / 10
    );

    --main_bar_height: 2.625em;
    --main_bar_terminator_width: 2.5em;

    --main_table_gutter: 0.25em;

    /* main area height */
    --main_area_height: calc(
        100vh
        - var(--main_shoulder_height) * 2
        - var(--main_table_gutter) * 2
    );

    --main_widget_height: var(--main_area_height);
    --main_widget_bar_height: var(--main_bar_height)
}

@keyframes blinker {
  33% {
    opacity: 33%;
  }
}
