@import url("310-header_widgets.css");

body > header > div > hgroup {
    position: absolute;
    right: 0; top: 0;
}

body > header > div > hgroup > h1 {
    font-size: var(--main_bar_height);
    color: var(--lcars-tanoi);
    background-color: var(--background);

    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.25em;

    white-space: nowrap;
}

body > header > div #header_widgets {
    position: absolute;
    height: calc(var(--main_shoulder_height) - var(--main_bar_height));
    right: 0; bottom: 0; left: 0;
    display: flex;
}
