@import url("410-main_widgets.css");

body > main > div #unauthorized_disclaimer p {
    font-size: 1.5em;
    padding-bottom: 1em;
}

body > main > div #unauthorized_disclaimer a,
body > main > div #unauthorized_disclaimer a:visited {
    color: var(--lcars-melrose);
    text-decoration: None;
}
