body > main > div > #telnet_log_widget {
    margin-bottom: 0;
    width: 100%;
}

body > main > div > #telnet_log_widget .log_line {
    /* log entries seem to be traditionally blue in LCARS ^^ */
    color: var(--lcars-blue-bell);
}

body > main > div > #telnet_log_widget .log_line td {
    white-space: normal;
    padding-left: calc(var(--main_shoulder_width) / 3);
    text-indent: calc(-1 * calc(var(--main_shoulder_width) / 3));
}

body > main > div > #telnet_log_widget tr.game_chat,
body > main > div > #telnet_log_widget caption span.game_chat {
    color: var(--lcars-hopbush);
}

body > main > div > #telnet_log_widget tr.player_logged,
body > main > div > #telnet_log_widget caption span.player_logged {
    color: var(--lcars-anakiwa);
}
