body > main > div > #manage_players_widget > main > table > tbody > tr > td[id$='_name'] {
    width: 100%;
}

body > main > div > #manage_players_widget tbody#player_table > tr:hover * {
    background-color: var(--lcars-yellow);
    color: var(--background)
}

/* player status */
/* offline */
body > main > div > #manage_players_widget caption span:not(.is_online):not(.is_initialized),
body > main > div > #manage_players_widget tbody > span:not(.is_online):not(.is_initialized),
body > main > div > #manage_players_widget tbody > tr:not(.is_online):not(.is_initialized) {
    color: var(--lcars-red);
}

/* offline and dead */
body > main > div > #manage_players_widget caption span.in_limbo:not(.is_online):not(.is_initialized):not(.has_health),
body > main > div > #manage_players_widget tbody > span.in_limbo:not(.is_online):not(.is_initialized):not(.has_health),
body > main > div > #manage_players_widget tbody > tr.in_limbo:not(.is_online):not(.is_initialized):not(.has_health) {
    color: var(--lcars-red);
}
/* special fading animation for offline players currently dead */
body > main > div > #manage_players_widget caption span.in_limbo:not(.is_online):not(.is_initialized):not(.has_health),
body > main > div > #manage_players_widget tbody > span.in_limbo:not(.is_online):not(.is_initialized):not(.has_health) td:nth-child(n+3),
body > main > div > #manage_players_widget tbody > tr.in_limbo:not(.is_online):not(.is_initialized):not(.has_health) td:nth-child(n+3) {
    animation: blinker 4s linear infinite;
}

/* online and logging in */
body > main > div > #manage_players_widget caption span.is_online:not(.is_initialized).in_limbo,
body > main > div > #manage_players_widget tbody > span.is_online:not(.is_initialized).in_limbo,
body > main > div > #manage_players_widget tbody > tr.is_online:not(.is_initialized).in_limbo {
    color: var(--lcars-yellow);
}
/* special fading animation for players currently logging in */
body > main > div > #manage_players_widget caption span.is_online:not(.is_initialized).in_limbo,
body > main > div > #manage_players_widget tbody > span.is_online:not(.is_initialized).in_limbo td:nth-child(n+3),
body > main > div > #manage_players_widget tbody > tr.is_online:not(.is_initialized).in_limbo td:nth-child(n+3) {
    animation: blinker 3s linear infinite;
}

/* online */
body > main > div > #manage_players_widget caption span.is_online.is_initialized:not(.in_limbo),
body > main > div > #manage_players_widget tbody > span.is_online.is_initialized:not(.in_limbo),
body > main > div > #manage_players_widget tbody > tr.is_online.is_initialized:not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online and dead */
body > main > div > #manage_players_widget caption span.is_online.is_initialized.in_limbo,
body > main > div > #manage_players_widget tbody > span.is_online.is_initialized.in_limbo,
body > main > div > #manage_players_widget tbody > tr.is_online.is_initialized.in_limbo {
    color: var(--lcars-orange);
}

@media only screen {
    body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_id"],
    body > main > div > #manage_players_widget tr[id^="player_table_row_"] td[class="position"],
    body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_ping"],
    body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_last_updated_servertime"],
    body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_last_seen_gametime"] {
        font-size: 0.90em;
        vertical-align: middle;
    }
}

body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_health"]:before {
    content: "\2665";
    padding-right: var(--main_table_gutter);
    padding-left: calc(var(--main_table_gutter) * 2);
    color: var(--lcars-red);
}

body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_pos"] span {
    width: 1.5em;
    display: inline-block;
}

body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_pos"]:before {
    padding-left: calc(var(--main_table_gutter) * 2);
    color: var(--lcars-red);
    content: "\2691";
}

body > main > div > #manage_players_widget td[id^="player_table_row_"][id$="_zombies"]:before {
    color: var(--lcars-red);
    content: "\2620";
    padding-right: var(--main_table_gutter);
    padding-left: calc(var(--main_table_gutter) * 2);
}
