/* region main_settings -> start */
/* variables */
:root {
    --background: black;

    /* StarTrek color information found on: http://www.lcarscom.net */
    --lcars-brown: #FF9966;
    --lcars-orange: #FF9900;
    --lcars-yellow: #FFCC99;
    --lcars-red: #CC6666;
    --lcars-purple: #CC6699;
    --lcars-lilac: #CC99CC;
    --lcars-dark-blue: #9999CC;
    --lcars-light-blue: #9999FF;

    /* pixel values taken from the used images */
    --main_shoulder_width: 270px;
    --main_shoulder_height: 72px;
    --main_bar_height: 42px;
    --main_bar_terminator_width: 40px;
}

@font-face {
    font-family: 'SWISS 911 Ultra Compressed BT';
    src: url('fonts/SWISS911UltraCompressedBT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SWISS 911 Extra Compressed BT';
    src: url('fonts/SWISS911ExtraCompressedBT.ttf'); /*URL to font*/
}

html {
    font-size: 16px;
    background: var(--background);
}

a,
a:visited {
    color: var(--background);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: "SWISS 911 Extra Compressed BT", sans-serif;
}

body > header {
    background:
            url(ui/main_horizontal_bar_end.png) no-repeat top right,
            url(ui/main_shoulder.png) no-repeat top left;
}

body > header > div {
    position: relative;
    height: var(--main_shoulder_height);
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

body > main {
    position: relative;
    color: var(--lcars-orange);
    height: calc(100vh - var(--main_shoulder_height) - var(--main_shoulder_height) - 2em);
    margin: 1em 0;
    overflow: auto;
}

body > main a,
body > main a:visited {
    color: var(--lcars-light-blue);
    text-decoration: none;
}

body > main a:hover {
    text-decoration: underline;
}

body > footer,
body > footer > div,
body > footer > div:before {
    height: var(--main_shoulder_height);
    transform: scaleY(-1);
}

body > footer {
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

body > footer > div:before {
    width: 100%;
    content: "";
    z-index: -1;
    position: absolute;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

body > footer > div {
    display: flex;
    align-items: flex-end;
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    position: relative;
    overflow: hidden;
}
/* region main_settings -> end */

body > header > div > hgroup {
    position: absolute;
    right: 0; top: 0;
    background-color: var(--background);
    height: var(--main_bar_height);
}

body > header > div > hgroup > h1 {
    color: var(--lcars-yellow);
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.5em;
    font-size: var(--main_bar_height);
}

body > header > div > aside {
    position: absolute;
    bottom: 0; right: calc(var(--main_bar_terminator_width) - (2 * var(--main_bar_terminator_width)));
    margin-right: 0.5em;
    color: var(--lcars-orange);
    background-color: var(--background);
}

body > header > div > aside a,
body > header > div > aside a:visited {
    color: var(--lcars-light-blue);
}

/* main rules, widgets will share the available space between them, creating columns as needed, up to 3 for now */
body > main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -0.5em;
}

body > main > div .widget {
    flex: 1 1 auto;
    width: calc(100% - var(--main_shoulder_width) - 2em);
    /* margin-left: var(--main_shoulder_width); */
    max-width: calc(1920px - 2em);
    margin-bottom: 0.5em;
}

@media (min-width: 1920px) {
    body > main > div .widget {
        width: calc(50% - 4em);
    }
}

@media (min-width: 2880px) {
    body > main > div .widget {
        width: calc((100% / 3) - 6em);
    }
}

.widget > main > table {
    margin-top: 0.5em;
}

.widget > main table.box_select,
.widget > main table.box_input {
    margin-bottom: 0.5em;
}

.widget > main table.box_select input[disabled],
.widget > main table.box_input input[disabled] {
    background-color: var(--lcars-red);
}

.widget > main table.box_select tfoot tr td,
.widget > main table.box_input tfoot tr td {
    color: var(--background);
    background-color: var(--lcars-light-blue);
    text-align: right;
    padding: 0.5em;
    /* display: none; */
}

.widget > main caption {
    border-top: 0.5em solid black;
    border-bottom: 0.5em solid black;
}

.widget > main caption span {
    border-radius: 0.5em;
    color: var(--background);
    background-color: var(--lcars-yellow);
}

.widget > main caption span:before,
.widget > main caption span:after {
    content: " ";
    z-index: -1;
    display: inline-block;
    width: 1em; height: 1em;
}

.widget > main caption span:before {
    width: 1em;
}

/* specific layout-rules for certain modules/widgets */
/* region header_widgets -> start */
/* these widgets are tightly integrated into the header design */
body > header > div > #gametime_widget {
    position: relative;
    height: var(--main_shoulder_height);
    font-size: 1.5em;
    line-height: 1em;
    color: black;
    padding-right: 0;
}

body > header > div > #gametime_widget > div {
    position: absolute;
    left: -18px; bottom: 0;
    background-color: var(--lcars-orange);
    border-radius: 12px;
    white-space: nowrap;
}

body > header > div > #gametime_widget > div:before,
body > header > div > #gametime_widget > div:after {
    content: " ";
    z-index: 1;
    display: inline-block;
    height: 1em;
}

body > header > div > #gametime_widget > div:after {
    width: 1em;
    float: right;
}

body > header > div > #gametime_widget > div:before {
    width: 1em;
    float: left;
}

body > header > div > #gameserver_status_widget {
    position: absolute;
    bottom: 0; left: 210px;
}

body > header > div > #gameserver_status_widget > div {
    color: var(--background);
    border-radius: 12px;
    height: 1.5em; line-height: 1.5em;
    white-space: nowrap;
}

body > header > div > #gameserver_status_widget > div.active {
    background-color: var(--lcars-yellow);
}

body > header > div > #gameserver_status_widget > div.inactive {
    background-color: var(--lcars-red);
}

body > header > div > #gameserver_status_widget > div:before,
body > header > div > #gameserver_status_widget > div:after {
    content: " ";
    height: 1.5em;
    width: 1em;
}

body > header > div > #gameserver_status_widget > div:after {
    float: right;
}

body > header > div > #gameserver_status_widget > div:before {
    float: left;
}

body > header > div #gameserver_status_widget span > a,
body > header > div #gameserver_status_widget span > a:visited {
    color: var(--lcars-dark-blue);
}

body > header > div #gameserver_status_widget span > a {
    display: inline-block;
    height: 1.5em; line-height: 1.5em;
    padding: 0 0.5em;
    border-left: 0.5em solid var(--background);
    color: var(--background);
    background-color: var(--lcars-lilac);
}
body > header > div #gameserver_status_widget span > a:hover,
body > header > div #gameserver_status_widget span > a:visited {
    color: var(--background);
    text-decoration: none;
}

body > header > div #gameserver_status_widget span:hover > a {
    background-color: var(--lcars-red);
}
/* region header_widgets -> end */
/* region main_widgets -> start */

/* player_table_widget - captions */
#player_table_widget caption span:not([class]) {
    /* offline */
    background-color: var(--lcars-orange);
}

#player_table_widget caption span.in_limbo:not(.is_online):not(.is_initialized) {
    /* offline and dead */
    background-color: var(--lcars-brown);
}

#player_table_widget caption span.is_online:not(.is_initialized):not(.in_limbo),
#player_table_widget caption span.is_online.is_initialized:not(.in_limbo) {
    /* logging in or online */
    background-color: var(--lcars-yellow);
}

#player_table_widget caption span.is_online.is_initialized.in_limbo {
    /* online and dead */
    background-color: var(--lcars-red);
}

/* player status */
/* offline */
#player_table_widget tbody span:not([class]),
#player_table_widget tbody tr:not([class]) {
    color: var(--lcars-orange);
}

/* offline and dead */
#player_table_widget tbody span.in_limbo:not(.is_online):not(.is_initialized),
#player_table_widget tbody tr.in_limbo:not(.is_online):not(.is_initialized) {
    color: var(--lcars-brown);
}
/* online and logging in */
#player_table_widget tbody span.is_online:not(.is_initialized):not(.in_limbo),
#player_table_widget tbody tr.is_online:not(.is_initialized):not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online */
#player_table_widget tbody span.is_online.is_initialized:not(.in_limbo),
#player_table_widget tbody tr.is_online.is_initialized:not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online and dead */
#player_table_widget tbody span.is_online.is_initialized.in_limbo,
#player_table_widget tbody tr.is_online.is_initialized.in_limbo {
    color: var(--lcars-red);
}

/* webserver status widget */
main > div > #webserver_status_widget {
    order: -1; /* ensure to be placed first */
}

/* widget handling widget */
main > div > #widget_handling {
    order: 998;
}

/* telnet log widget */
main > div > #telnet_log_widget {
    order: 999; /* should ensure to be placed last */
    margin-bottom: 0;
}

main > div > #telnet_log_widget .log_line {
    /* log entries seem to be traditionally blue in LCARS ^^ */
    color: var(--lcars-dark-blue);
}

/* locations widget */
main > div > #locations_widget #current_player_pos > span {
    display: flex;
    justify-content: flex-end;
}

main > div > #locations_widget #current_player_pos > span > label {
    flex: 0;
    white-space: nowrap;
    margin-right: 0.5em;
}

main > div > #locations_widget #current_player_pos > span > label:last-child {
    margin-right: 0;
}

main > div > #locations_widget #current_player_pos > span > label input {
    border: 0;
    display: inline-block;
    margin: 0; padding: 0;
    width: 2.5em;
    text-align: right;
    background-color: transparent;
}

main > div > #locations_widget #current_player_pos > span > label:nth-child(2) input {
    width: 2em;
}
/* region main_widgets -> end */
/* region footer_widgets -> start */
footer > div > p {
    position: absolute;
    right: 0;
}
/* region footer_widgets -> end */

/* debug options -> start */
.widget {
    position: relative;
    padding-right: 2em;
}

.widget > header {
    display: block;
    height: 48px;
    width: 100%;
    clear: both;
    background-color: var(--lcars-purple);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.widget > header > div > span {
    font-size: 48px; line-height: 1em;
    color: var(--background);
    margin-left: 24px;
}


.widget > aside {
    float: left;
    width: var(--main_shoulder_width);
    background: url(ui/main_vertical_bar.png) repeat-y;
    height: calc(100% - 48px);
    margin-bottom: 2em;
}

.widget > main {
    float: right; width: calc(100% - var(--main_shoulder_width))
}

.widget > aside > div {
    width: var(--main_shoulder_width);
}

.widget > aside > div > div span:before,
.widget > aside > div > div span:after {
    content: " ";
    z-index: 1;
    display: inline-block;
    height: 1.5em;
}

.widget > aside > div > div span:after {
    width: 0.5em;
    float: right;
}

.widget > aside > div > div span:before {
    width: 1.5em;
    float: left;
}

.widget > aside > div > div {
    border-top: 0.5em solid black;
}

.widget > aside > div > div:last-child {
    border-bottom: 0.5em solid black;
}

.widget > aside > div > div > span {
    display: block;
    background-color: var(--lcars-purple);
    padding: 0; margin-right: 26px;
    line-height: 2.5em;
}

.widget > aside > div > div > span.info {
    color: var(--background);
    line-height: 1.5em;
}

.widget > main > table > thead tr:last-child {
    /* this contains the header stuff for the widget-content */
    background: var(--background);
}

.widget > main > table > tbody tr td[id$='_actions'] {
    min-width: 4em;
    white-space: nowrap;
}

/* */
.widget .pull_out > div > span.active {
    background-color: var(--lcars-lilac);
}

.widget .pull_out > div > span.inactive {
    background-color: var(--lcars-purple);
}

.widget .pull_out > div > span.info {
    background-color: var(--lcars-yellow);
}

.widget .pull_out span a,
.widget .pull_out span a:visited {
    color: var(--background);
}

/* */
.widget main a:before,
.widget main a:after {
    content: " ";
    z-index: -1;
    display: inline-block;
    width: 1em; height: 1em;
}

.widget main a:before {
    width: 1em;
}

.widget main a {
    font-size: 90%;
    border-radius: 0.5em;
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
}

.widget main a,
.widget main a:visited {
    background-color: var(--lcars-light-blue);
    color: black;
}

.widget main a:hover {
    text-decoration: none;
}

.widget main span.inactive a:hover,
.widget main span.active a {
    background-color: var(--lcars-red);
}

.widget main span.active:hover a,
.widget main span.inactive a {
    background-color: var(--lcars-yellow);
}
/* debug options -> end */
