/* region main_settings -> start */
/* variables */
:root {
    --background: black;

    /* StarTrek color information found on: http://www.lcarscom.net */
    --lcars-brown: #FF9966;
    --lcars-orange: #FF9900;
    --lcars-yellow: #FFCC99;
    --lcars-red: #CC6666;
    --lcars-purple: #CC6699;
    --lcars-lilac: #CC99CC;
    --lcars-dark-blue: #9999CC;
    --lcars-light-blue: #9999FF;

    /* pixel values taken from the used images */
    --main_shoulder_width: 270px;
    --main_shoulder_height: 72px;
    --main_bar_height: 42px;
    --main_bar_terminator_width: 40px;
}

@font-face {
    font-family: 'SWISS 911 Ultra Compressed BT';
    src: url('fonts/SWISS911UltraCompressedBT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SWISS 911 Extra Compressed BT';
    src: url('fonts/SWISS911ExtraCompressedBT.ttf'); /*URL to font*/
}

html {
    font-size: 16px;
    background: var(--background);
}

a,
a:visited {
    color: var(--background);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: "SWISS 911 Extra Compressed BT", sans-serif;
}

header {
    background:
            url(ui/main_horizontal_bar_end.png) no-repeat top right,
            url(ui/main_shoulder.png) no-repeat top left;
}

header > div {
    position: relative;
    height: var(--main_shoulder_height);
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

main {
    position: relative;
    color: var(--lcars-orange);
    height: calc(100vh - var(--main_shoulder_height) - var(--main_shoulder_height) - 2em);
    margin: 1em 0;
    overflow: auto;
}

main a,
main a:visited {
    color: var(--lcars-light-blue);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

footer,
footer > div,
footer > div:before {
    height: var(--main_shoulder_height);
    transform: scaleY(-1);
}

footer {
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

footer > div:before {
    width: 100%;
    content: "";
    z-index: -1;
    position: absolute;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

footer > div {
    display: flex;
    align-items: flex-end;
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    position: relative;
    overflow: hidden;
}
/* region main_settings -> end */
/* region header_widgets -> start */
/* these widgets are tightly integrated into the header design */
header #gametime_widget {
    position: absolute;
    font-size: 1.5em;
    line-height: 1em;
    color: black;
    margin-left: 0.5em;
    bottom: 0; left: calc(var(--main_shoulder_width) - (2 * var(--main_shoulder_width)));
}

header > div > hgroup {
    position: absolute;
    right: 0;
    background-color: var(--background);
    height: var(--main_bar_height);
}

header > div > hgroup > h1 {
    color: var(--lcars-yellow);
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.5em;
    font-size: var(--main_bar_height);
}

header > div > aside {
    position: absolute;
    bottom: 0; right: calc(var(--main_bar_terminator_width) - (2 * var(--main_bar_terminator_width)));
    margin-right: 0.5em;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header > div > aside a,
header > div > aside a:visited {
    color: var(--lcars-light-blue);
}

header #gameserver_status_widget {
    position: absolute;
    bottom: 0;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header #gameserver_status_widget a,
header #gameserver_status_widget a:visited {
    color: var(--lcars-light-blue);
}
/* region header_widgets -> end */
/* region main_widgets -> start */
/* main rules, widgets will share the available space between them, creating columns as needed, up to 3 for now */
main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -0.5em;
}

main > div .widget {
    flex: 1 1 auto;
    width: calc(100% - var(--main_shoulder_width) - 2em);
    margin-left: var(--main_shoulder_width);
    min-height: 12em;
    max-width: calc(1920px - var(--main_shoulder_width) - 2em);
    margin-bottom: 0.5em;
}

@media (min-width: 1920px) {
    main > div .widget {
        width: calc(50% - var(--main_shoulder_width) - 4em);
    }
}

@media (min-width: 2880px) {
    main > div .widget {
        width: calc((100% / 3) - var(--main_shoulder_width) - 6em);
    }
}

.widget table.box_select,
.widget table.box_input {
    margin-bottom: 0.5em;
}

.widget table.box_select input[disabled],
.widget table.box_input input[disabled] {
    background-color: var(--lcars-red);
}

.widget table.box_select tfoot tr td,
.widget table.box_input tfoot tr td {
    color: var(--background);
    background-color: var(--lcars-light-blue);
    text-align: right;
    padding: 0.5em;
    /* display: none; */
}

/* specific layout-rules for certain modules */
main > div > #webserver_status_widget {
    min-height: 8em;
    order: -1; /* ensure to be placed first */
}

main > div > #widget_handling {
    order: 998;
}

main > div > #telnet_log_widget {
    order: 999; /* should ensure to be placed last */
    margin-bottom: 0;
}
/* region main_widgets -> end */
/* region footer_widgets -> start */
footer > div > p {
    position: absolute;
    right: 0;
}
/* region footer_widgets -> end */
/* debug options -> start */
main > div > .widget {
    position: relative;
    padding-right: 2em;
}

main > div > .widget > table .pull_out {
    position: absolute;
    left: calc(var(--main_shoulder_width) - (2 * var(--main_shoulder_width)));
    display: block;
    width: var(--main_shoulder_width);
    text-align: right;
    background: url(ui/main_vertical_bar.png) repeat-y;
    height: 100%;
}

main > div > .widget > table .pull_out td {
    width: var(--main_shoulder_width);
}

main > div > .widget > table .pull_out > td > div:first-child {
    border-top: 0;
}

main > div > .widget > table .pull_out > td > div {
    border-top: 0.5em solid black;
}

main > div > .widget > table .pull_out > td > div:last-child {
    border-bottom: 0.5em solid black;
}

main > div > .widget > table .pull_out td > div > span {
    display: block;
    background-color: var(--lcars-purple);
    padding: 0; margin-right: 26px;
    height: 1.5em; line-height: 1.5em;
}

main > div > .widget > table tbody tr td[id$='_actions'] {
    width: 6em;
}

main > div > .widget > table thead tr:last-child th {
    background-color: var(--lcars-purple);
    height: 1.5em; line-height: 1.5em;
}

main > div > .widget > table thead tr:last-child {
    /* this contains the header stuff for the widget-content */
    border-bottom: 0.5em solid black;
}

main > div > .widget > table .pull_out > td > div span:before,
main > div > .widget > table .pull_out > td > div span:after {
    content: " ";
    z-index: 1;
    display: inline-block;
    height: 1.5em;
}

main > div > .widget > table .pull_out > td > div span:after {
    width: 0.5em;
    float: right;
}

main > div > .widget > table .pull_out > td > div span:before {
    width: 1.5em;
    float: left;
}
/* debug options -> end */
