body > main > div > .widget > main {
    position: relative;
    margin-top: calc(var(--main_table_gutter) * 2);
}

/* */
body > main > div > .widget > main > table > tfoot > tr > td > div > span.active,
body > main > div > .widget .pull_out > div > span.active {
    background-color: var(--lcars-lilac);
}

body > main > div > .widget > main > table > tfoot > tr > td > span.inactive,
body > main > div > .widget .pull_out > div > span.inactive {
    background-color: var(--lcars-purple);
}

body > main > div > .widget .pull_out > div > span.info {
    background-color: var(--lcars-yellow);
}

body > main > div > .widget .pull_out > div > span.info > div > span {
    margin-left: 0.5em;
    flex: 1;
    text-align: left;
}

body > main > div > .widget .pull_out span a,
body > main > div > .widget .pull_out span a:visited,
body > main > div > .widget .pull_out span > div {
    text-decoration: none;
    display: block; margin-right: 0.5em;
    color: var(--background);
}

body > main > div > .widget > main .dialog {
    position: absolute;
    top: 0; right: 0; bottom: 5.5em; left: 0;
    display: none;
}

body > main > div > .widget > main .dialog.open {
    display: block;
}

body > main > div > .widget > main .dialog .modal-content {
    padding: 1em;
    color: var(--lcars-dark-blue);
    background-color: var(--background);
    border: var(--main_table_gutter) solid var(--lcars-red);

    border-radius: 0 1em 0.5em 1.5em / 0 1em 0.5em 1em;
    height: calc(100% + 1em);
}

body > main > div > .widget > main .dialog .modal-content a,
body > main > div > .widget > main .dialog .modal-content p {
    font-size: 2em;
}

body > main > div > .widget > main .dialog.open .modal-content .delete_modal {
    height: 100%;
}

body > main > div > .widget > main .dialog.open .modal-content .delete_modal td {
    text-align: center;
    vertical-align: top;
}

body > main > div > .widget > main > table > tbody {
    display: block;
    overflow: auto;
    height: calc(
        100vh
        - var(--main_shoulder_height) * 2
        - var(--main_bar_height)
        - var(--main_table_gutter)
        - 2em
        - 1em
        - 2em
    );
    padding-right: 0.5em;
}

body > main > div > .widget > main > table.data_table > tbody {
    max-height: calc(
        100vh
        - var(--main_shoulder_height) * 2
        - var(--main_bar_height)
        - var(--main_table_gutter)
        - 0.5em
        - 2em
        - 1em
        - 2em
        - (var(--main_bar_height) / 2) - (var(--main_table_gutter) * 2)
    );
}
