:root {
    --background: black;

    --lcars-orange: #ff9900;
    --lcars-lilac: #CC99CC;
    --lcars-dark-blue: #9999CC;
    --lcars-red: #CC6666;
    --lcars-yellow: #FFCC99;
    --lcars-light-blue: #9999FF;
    --lcars-brown: #FF9966;
    --lcars-purple: #CC6699;
}

@font-face {
    font-family: 'SWISS 911 Ultra Compressed BT';
    src: url('fonts/SWISS911UltraCompressedBT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SWISS 911 Extra Compressed BT';
    src: url('fonts/SWISS911ExtraCompressedBT.ttf'); /*URL to font*/
}
/* */
html {
    font-size: 16px;
    background: var(--background);
}

a,
a:visited {
    color: var(--background);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: "SWISS 911 Extra Compressed BT", sans-serif;
    min-width: 66.5em; max-width: 78em;
}

header {
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

header > div {
    position: relative;
    height: 5em;
    margin: 0 1em 0 21.25em;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

header #gametime_widget {
    position: absolute;
    font-size: 2.5em;
    color: black;
    bottom: 0.25em; left: -8.2em;
}

header > div > hgroup {
    position: absolute;
    top: 0; right: 2em;
    background-color: var(--background);
    height: 2.625em;
}

header > div > hgroup > h1 {
    color: var(--lcars-yellow);
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.5em;
    font-size: 2.625em; line-height: 1em;
}

header > div > aside {
    position: absolute;
    bottom: 0.5em; right: 0;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header > div > aside a,
header > div > aside a:visited {
    color: var(--lcars-light-blue);
}

header #gameserver_status_widget {
    position: absolute;
    bottom: 0.5em;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header #gameserver_status_widget a,
header #gameserver_status_widget a:visited {
    color: var(--lcars-light-blue);
}

main {
    position: relative;
    background: url(ui/main_vertical_bar.png) repeat-y;
    color: var(--lcars-orange);
}

main > div {
    margin: 0 0 0 21.25em;
    display: flex;
    flex-direction: column;
}

main > div #webserver_status_widget {
    order: -1;
}

main > div #player_table_widget {
    order: 0;
}

main > div #manage_whitelist_widget {
    order: 1;
}

main > div #telnet_log_widget {
    order: 99;
}

main > div > .widget {
    color: var(--lcars-brown);
    min-height: 8em;
}

main > div > .widget a,
main > div > .widget a:visited {
    color: var(--lcars-light-blue);
}

main > div > .widget table {
    width: calc(100% - 3em);
}

main > div > .widget table caption {
    color: var(--lcars-dark-blue);
}

main > div > .widget thead tr {
    color: black;
    height: 2em; line-height: 2em;
}

main > div > .widget tbody tr td[id$='_actions'] {
    width: 6em;
}

main > div > .widget thead tr:last-child th {
    background-color: var(--lcars-purple);
}

main > div > .widget thead tr:last-child {
    /* this contains the header stuff for the widget-content */
    border-top: 0.5em solid black;
    border-bottom: 0.5em solid black;
}

main > div > .widget caption {
    border-top: 0.5em solid black;
    border-bottom: 0.5em solid black;
}

#player_table_widget caption span {
    border-radius: 0.5em;
    color: var(--background);
}

#player_table_widget caption span:before,
#player_table_widget caption span:after {
    content: " ";
    z-index: -1;
    display: inline-block;
    width: 1em; height: 1em;
}

#player_table_widget caption span:before {
    width: 1em;
}

#player_table_widget caption span:not([class]) {
    background-color: var(--lcars-orange);
}
#player_table_widget caption span.in_limbo:not(.is_online):not(.is_initialized) {
    background-color: var(--lcars-brown);
}
#player_table_widget caption span.is_online:not(.is_initialized):not(.in_limbo) {
    background-color: var(--lcars-yellow);
}
#player_table_widget caption span.is_online.is_initialized:not(.in_limbo) {
    background-color: var(--lcars-yellow);
}
#player_table_widget caption span.is_online.is_initialized.in_limbo {
    background-color: var(--lcars-red);
}
/* player_table_widget */
/* offline */
#player_table_widget tbody span:not([class]),
#player_table_widget tbody tr:not([class]) {
    color: var(--lcars-orange);
}
/* offline and dead */
#player_table_widget tbody span.in_limbo:not(.is_online):not(.is_initialized),
#player_table_widget tbody tr.in_limbo:not(.is_online):not(.is_initialized) {
    color: var(--lcars-brown);
}
/* online and logging in */
#player_table_widget tbody span.is_online:not(.is_initialized):not(.in_limbo),
#player_table_widget tbody tr.is_online:not(.is_initialized):not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online */
#player_table_widget tbody span.is_online.is_initialized:not(.in_limbo),
#player_table_widget tbody tr.is_online.is_initialized:not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online and dead */
#player_table_widget tbody span.is_online.is_initialized.in_limbo,
#player_table_widget tbody tr.is_online.is_initialized.in_limbo {
    color: var(--lcars-red);
}

#permissions_widget > table > tbody > tr > th > span {
    display: block;
    width: 100%; height: 1.33em;
    line-height: 1.33em;
    color: black;
    border-top-right-radius: 0.75em;
}

#permissions_widget > table > tbody > tr {
    line-height: 1.33em;
    border-bottom: 0.5em solid var(--background);
}

#permissions_widget > table > tbody > tr:first-child {
    line-height: 1.33em;
    border-bottom: 0;
}

#permissions_widget > table > tbody > tr:last-child {
    border-bottom: 1.5em solid var(--background);
}

#permissions_widget > table > tbody > tr > td:last-child > span {
    display: block;
    min-height: 2em;
    color: black;
    border-top: 0.25em solid var(--background);
}

#permissions_widget > table > tbody > tr:last-child > td:last-child > span {
    border-bottom-right-radius: 1em;
}

#permissions_widget tbody table td:first-child {
    width: 34%;
}

#permissions_widget > table > tbody > tr > th > span,
#permissions_widget > table > tbody > tr > td:last-child > span {
    background-color: var(--lcars-yellow);
}

#permissions_widget > table > tbody > tr:hover > td:last-child > span {
    background-color: var(--lcars-brown);
}

#permissions_widget > table > tbody:nth-child(3) > tr > th > span,
#permissions_widget > table > tbody:nth-child(3) > tr > td:last-child > span {
    background-color: var(--lcars-light-blue);
}

#permissions_widget > table > tbody:nth-child(3) > tr:hover > td:last-child > span {
    background-color: var(--lcars-purple);
}

#permissions_widget > table > tbody:nth-child(4) > tr > th > span,
#permissions_widget > table > tbody:nth-child(4) > tr > td:last-child > span {
    background-color: var(--lcars-lilac);
}

#permissions_widget > table > tbody:nth-child(4) > tr:hover > td:last-child > span {
    background-color: var(--lcars-light-blue);
}

/*
    the pull_outs are the parts of a module that we want to display on the left-hand side, making them UI elements)
*/
main > div > .widget .pull_out {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    width: 19.625em;
}

main > div > .widget .pull_out span a,
main > div > .widget .pull_out span a:visited {
    color: var(--background);
}

main > div > .widget .pull_out > td {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main > div > .widget .pull_out > td > div {
    border-top: 0.5em solid black;
}

main > div > .widget .pull_out > td > div:last-child {
    border-bottom: 0.5em solid black;
}

main > div > .widget .pull_out td > div > span {
    display: block;
    background-color: var(--lcars-purple);
    padding: 0 0.5em;
}

main > div > .widget .pull_out td > div > span.active {
    background-color: var(--lcars-lilac);
}

main > div > .widget .pull_out td > div > span.inactive {
    background-color: var(--lcars-purple);
}

main > div > .widget .pull_out td > div > span.info {
    background-color: var(--lcars-yellow);
}

main > div > .widget .pull_out td > #manage_whitelist_widget_enable_disable_toggle > span.inactive  {
    background-color: var(--lcars-red);
}

main > div > .widget .pull_out span a {
    display: block;
    width: 100%; height: 2em;
    font-size: 1em;
    background-color: transparent;
}

/*
    Buttons that will appear inside a widgets main area that's not in the left hand menu
*/
main > div > .widget tr:not(.pull_out) a:before,
main > div > .widget tr:not(.pull_out) a:after {
    content: " ";
    z-index: -1;
    display: inline-block;
    width: 1em; height: 1em;
}

main > div > .widget tr:not(.pull_out) a:before {
    width: 1em;
}

main > div > .widget tr:not(.pull_out) a {
    font-size: 90%;
    border-radius: 0.5em;
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
}

main > div > .widget tr:not(.pull_out) a,
main > div > .widget tr:not(.pull_out) a:visited {
    background-color: var(--lcars-light-blue);
    color: black;
}
main > div > .widget tr:not(.pull_out) a:hover {
    text-decoration: none;
}

main > div > .widget tr:not(.pull_out) span.inactive a:hover,
main > div > .widget tr:not(.pull_out) span.active a {
    background-color: var(--lcars-yellow);
}

main > div > .widget tr:not(.pull_out) span.active:hover a,
main > div > .widget tr:not(.pull_out) span.inactive a {
    background-color: var(--lcars-red);
}

/* */
main > div > .widget .log_line,
main > div > .widget .log_line td {
    height: 1em;
    line-height: 1em;
}

footer {
    transform: scaleY(-1);
    height: 5.75em;
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

footer > div:before {
    transform: scaleY(-1);
    width: 100%;
    height: 5.75em;
    content: "";
    z-index: -1;
    position: absolute;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

footer > div {
    display: flex;
    align-items: flex-end;

    height: 5.75em;
    margin: 0 1em 0 21.25em;

    position: relative;
    overflow: hidden;

    transform: scaleY(-1);
}

footer > div > p {
    width: calc(100vw - 21.25em - 2em);
    white-space: nowrap;
}
