/* region main_settings -> start */
/* variables */
:root {
    --background: black;

    /* StarTrek color information found on: http://www.lcarscom.net */
    --lcars-brown: #FF9966;
    --lcars-orange: #FF9900;
    --lcars-yellow: #FFCC99;
    --lcars-red: #CC6666;
    --lcars-purple: #CC6699;
    --lcars-lilac: #CC99CC;
    --lcars-dark-blue: #9999CC;
    --lcars-light-blue: #9999FF;

    /* pixel values taken from the used images */
    --main_shoulder_width: 270px;
    --main_shoulder_height: 72px;
    --main_bar_height: 42px;
    --main_bar_terminator_width: 40px;
}

@font-face {
    font-family: 'SWISS 911 Ultra Compressed BT';
    src: url('fonts/SWISS911UltraCompressedBT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SWISS 911 Extra Compressed BT';
    src: url('fonts/SWISS911ExtraCompressedBT.ttf'); /*URL to font*/
}

html {
    font-size: 16px;
    background: var(--background);
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_item {
    flex: 0;
}

a,
a:visited {
    color: var(--background);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: "SWISS 911 Extra Compressed BT", sans-serif;
}

body > header {
    background:
            url(ui/main_horizontal_bar_end.png) no-repeat top right,
            url(ui/main_shoulder.png) no-repeat top left;
}

body > header > div {
    position: relative;
    height: var(--main_shoulder_height);
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

body > main {
    position: relative;
    color: var(--lcars-orange);
    height: calc(100vh - var(--main_shoulder_height) - var(--main_shoulder_height) - 2em);
    margin: 1em 0;
    overflow: auto;
}

body > footer,
body > footer > div,
body > footer > div:before {
    height: var(--main_shoulder_height);
    transform: scaleY(-1);
}

body > footer {
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

body > footer > div:before {
    width: 100%;
    content: "";
    z-index: -1;
    position: absolute;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

body > footer > div {
    display: flex;
    align-items: flex-end;
    margin: 0 var(--main_bar_terminator_width) 0 var(--main_shoulder_width);
    position: relative;
    overflow: hidden;
}
/* region main_settings -> end */

body > header > div > hgroup {
    position: absolute;
    right: 0; top: 0;
    background-color: var(--background);
    height: var(--main_bar_height);
}

body > header > div > hgroup > h1 {
    color: var(--lcars-yellow);
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.5em;
    font-size: var(--main_bar_height);
}

body > header > div > aside {
    position: absolute;
    bottom: 0; right: calc(var(--main_bar_terminator_width) - (2 * var(--main_bar_terminator_width)));
    margin-right: 0.5em;
    color: var(--lcars-orange);
    background-color: var(--background);
}

body > header > div > aside a,
body > header > div > aside a:visited {
    color: var(--lcars-light-blue);
}

/* main rules, widgets will share the available space between them, creating columns as needed, up to 3 for now */
body > main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -0.5em;
}

body > main > div #unauthorized_disclaimer a,
body > main > div #unauthorized_disclaimer a:visited {
    color: var(--lcars-light-blue);
    text-decoration: None;
}

body > main > div #unauthorized_disclaimer a:hover {
    text-decoration: underline;
}

body > main > div .widget {
    flex: 1 1 auto;
    width: calc(100% - var(--main_shoulder_width) - 2em);
    /* margin-left: var(--main_shoulder_width); */
    max-width: calc(1920px - 2em);
    margin-bottom: 0.5em;
}

@media (min-width: 1920px) {
    body > main > div .widget {
        width: calc(50% - 4em);
    }
}

@media (min-width: 2880px) {
    body > main > div .widget {
        width: calc((100% / 3) - 6em);
    }
}

.widget > main > table {
    margin-top: 0.5em;
}

.widget > main > table > thead {
    display: none;
}

.widget > main table.box_input,
.widget > main table.box_select {
    margin-bottom: 1.5em;
}

.widget > main table.box_select tfoot td,
.widget > main table.box_input tfoot td {
    white-space: normal;
}

.widget > main table.box_select input[disabled],
.widget > main table.box_input input[disabled] {
    background-color: var(--lcars-red);
}

.widget > main table.box_select tfoot tr td,
.widget > main table.box_input tfoot tr td {
    color: var(--background);
    padding: 0.5em 0;
}

.widget > main table.box_select tfoot tr td > div,
.widget > main table.box_input tfoot tr td > div {
     /* background-image: linear-gradient(to right, var(--background),  var(--lcars-light-blue), var(--lcars-light-blue), var(--lcars-light-blue)); */
    background-color: var(--lcars-light-blue);
    text-align: right;
    line-height: 1em;
    font-size: 0.9em;
    padding: 0.8em;
    /* display: none; */
}

.widget > main > table > caption {
    /* display: none; */
    border-top: 0.5em solid var(--background);
    border-bottom: 0.5em solid var(--background);
    color: var(--lcars-light-blue);
    margin-right: 1em;
}

/* specific layout-rules for certain modules/widgets */
/* region header_widgets -> start */
/* these widgets are tightly integrated into the header design */
body > header > div > #gametime_widget {
    position: relative;
    height: var(--main_shoulder_height);
    font-size: 1.5em;
    line-height: 1em;
    color: black;
    padding-right: 0;
}

body > header > div > #gametime_widget > div {
    position: absolute;
    left: -18px; bottom: 0;
    background-color: var(--lcars-orange);
    border-radius: 12px; padding: 0 1em;
    white-space: nowrap;
}

body > header > div > #gameserver_status_widget {
    position: absolute;
    bottom: 0; left: 210px;
    z-index: 100;
}

body > header > div > #gameserver_status_widget > div {
    color: var(--background);
    border-radius: 12px;
    height: 1.5em; line-height: 1.5em;
    white-space: nowrap;
    padding: 0 1em;
}

body > header > div > #gameserver_status_widget > div.active {
    background-color: var(--lcars-yellow);
}

body > header > div > #gameserver_status_widget > div.inactive {
    background-color: var(--lcars-red);
}

body > header > div #gameserver_status_widget span > a,
body > header > div #gameserver_status_widget span > a:visited {
    color: var(--lcars-dark-blue);
}

body > header > div #gameserver_status_widget span > a {
    display: inline-block;
    padding: 0 0.25em;
    border-left: 0.25em solid var(--background);
    border-right: 0.25em solid var(--background);
    color: var(--background); /* Edge seems to require this */
    background-color: var(--lcars-red);
}

body > header > div #gameserver_status_widget span > a:hover,
body > header > div #gameserver_status_widget span > a:visited {
    color: var(--background);
    text-decoration: none;
}

body > header > div #gameserver_status_widget span:hover > a {
    background-color: var(--lcars-red);
}
/* region header_widgets -> end */
/* region main_widgets -> start */
/* Widget positions -> start */
.widget { order: 500 } /* making the standard order the middle instead of 0 */

main > div > #player_table_widget { order: -1 }
main > div > #webserver_status_widget { order: 0 }
main > div > #widget_handling { order: 998 }
main > div > #telnet_log_widget { order: 999 }
/* Widget positions -> end */

body > main > div #unauthorized_disclaimer {
    width: 100%;
    height: calc(100vh - var(--main_shoulder_height) - var(--main_shoulder_height) - 2em);
    padding-left: calc(var(--main_shoulder_width));
    background: url(ui/main_vertical_bar.png) repeat-y;
}

body > main > div #unauthorized_disclaimer p {
    font-size: 1.5em;
    padding-bottom: 1em;
}

@media (min-width: 1920px) {
    main > div > #player_table_widget {
        max-width: 1440px;
    }

    main > div > #webserver_status_widget {
        min-width: 480px;
        max-width: 640px;
    }
}

#player_table_widget tbody > tr:hover * {
    background-color: var(--lcars-yellow);
    color: var(--background)
}
/* player status */
/* offline */
#player_table_widget caption span:not([class]),
#player_table_widget tbody > span:not([class]),
#player_table_widget tbody > tr:not([class]) {
    color: var(--lcars-red);
}

/* offline and dead */
#player_table_widget caption span.in_limbo:not(.is_online):not(.is_initialized),
#player_table_widget tbody > span.in_limbo:not(.is_online):not(.is_initialized),
#player_table_widget tbody > tr.in_limbo:not(.is_online):not(.is_initialized) {
    color: var(--lcars-red);
}

/* special fading animation for offline players currently dead */
#player_table_widget caption span.in_limbo:not(.is_online):not(.is_initialized),
#player_table_widget tbody > span.in_limbo:not(.is_online):not(.is_initialized) td:nth-child(n+3),
#player_table_widget tbody > tr.in_limbo:not(.is_online):not(.is_initialized) td:nth-child(n+3) {
    animation: blinker 4s linear infinite;
}

/* online and logging in */
#player_table_widget caption span.is_online:not(.is_initialized).in_limbo,
#player_table_widget tbody > span.is_online:not(.is_initialized).in_limbo,
#player_table_widget tbody > tr.is_online:not(.is_initialized).in_limbo {
    color: var(--lcars-yellow);
}
/* special fading animation for players currently logging in */
#player_table_widget caption span.is_online:not(.is_initialized).in_limbo,
#player_table_widget tbody > span.is_online:not(.is_initialized).in_limbo td:nth-child(n+3),
#player_table_widget tbody > tr.is_online:not(.is_initialized).in_limbo td:nth-child(n+3) {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  33% {
    opacity: 33%;
  }
}

/* online */
#player_table_widget caption span.is_online.is_initialized:not(.in_limbo),
#player_table_widget tbody > span.is_online.is_initialized:not(.in_limbo),
#player_table_widget tbody > tr.is_online.is_initialized:not(.in_limbo) {
    color: var(--lcars-yellow);
}
/* online and dead */
#player_table_widget caption span.is_online.is_initialized.in_limbo,
#player_table_widget tbody > span.is_online.is_initialized.in_limbo,
#player_table_widget tbody > tr.is_online.is_initialized.in_limbo {
    color: var(--lcars-orange);
}

/* telnet log widget */
main > div > #telnet_log_widget {
    margin-bottom: 0;
    width: 100%;
}

main > div > #telnet_log_widget .log_line {
    /* log entries seem to be traditionally blue in LCARS ^^ */
    color: var(--lcars-dark-blue);
}

main > div > #telnet_log_widget .log_line td {
    white-space: normal;
    padding-left: calc(var(--main_shoulder_width) / 3);
    text-indent: calc(-1 * calc(var(--main_shoulder_width) / 3));
}

/* locations widget */
main > div > #locations_widget #current_player_pos > span > div {
    display: flex;
    justify-content: flex-end;
}

main > div > #locations_widget #current_player_pos > span > div > div {
    margin-right: 0.5em;
}

main > div > #locations_widget #current_player_pos > span > div > div:last-child {
    margin-right: 0;
}

main > div > #locations_widget #current_player_pos > span > div > label {
    flex: 0;
    white-space: nowrap;
    margin-right: 0.5em;
}

main > div > #locations_widget #current_player_pos > span > div > label:last-child {
    margin-right: 0;
}

main > div > #locations_widget #current_player_pos > span > div > label input {
    border: 0;
    display: inline-block;
    margin: 0; padding: 0;
    width: 2.5em;
    text-align: right;
    background-color: transparent;
}

main > div > #locations_widget #current_player_pos > span > div > label:nth-child(2) input {
    width: 2em;
}
/* region main_widgets -> end */

/* region footer_widgets -> start */
footer > div > p {
    position: absolute;
    right: 0;
}
/* region footer_widgets -> end */

/* debug options -> start */
.widget {
    position: relative;
    padding-right: var(--main_bar_terminator_width);
}

.widget > header {
    display: block;
    height: 48px;
    width: 100%;
    clear: both;
    background-color: var(--lcars-purple);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.widget > header > div > span {
    font-size: 48px; line-height: 1em;
    color: var(--background);
    margin-left: 24px;
}

.widget > aside {
    float: left;
    width: var(--main_shoulder_width);
    background: url(ui/main_vertical_bar.png) repeat-y;
    height: calc(100% - 48px);
}

.widget > main {
    float: right;
    width: calc(100% - var(--main_shoulder_width) - var(--main_bar_terminator_width));
    min-height: calc(176px + 1.5em);
    padding-right: var(--main_bar_terminator_width);
    overflow-y: auto;
}

.widget > aside > div {
    width: var(--main_shoulder_width);
}

.widget > aside > div > div {
    border-top: 0.5em solid black;
}

.widget > aside > div > div:last-child {
    border-bottom: 0.5em solid black;
}

.widget > aside > div > div > span {
    display: block;
    background-color: var(--lcars-purple);
    padding: 0; margin-right: 26px;
    line-height: 4.5em;
}

#manage_whitelist_widget_enable_disable_toggle span,
.widget > aside > div > div > span.info {
    color: var(--background);
    line-height: 2em;
}

.widget > main > table > thead tr:last-child {
    /* this contains the header stuff for the widget-content */
    background: var(--background);
}

.widget > main > table > tbody > tr > td {
    font-size: 1.125em;
    line-height: 24px;
    white-space: nowrap;
    padding: 0 4px;
}

.widget > main > table > tbody > tr > td[id$='_name'] {
    width: 100%;
}

.widget > main > table > tbody > tr > td[id$='_actions'] {
    display: flex;
    margin-right: -5px;
}

.widget > main > table > tbody > tr > td[id$='_actions'] > span {
    flex: 0 0 auto;
    margin-right: 5px;

}

.widget > main > table > tfoot > tr {
    height: 2.5em; line-height: 1.25em;
}

.widget > main > table > tfoot > tr > td {
    vertical-align: bottom;
}

.widget > main > table > tfoot > tr > td > div {
    background-color: var(--lcars-yellow);
    margin: 0 0 0 0.25em ;
    padding-left: 5.25em;
    height: 20px; line-height: 20px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 3em 2em;
}

/* */
.widget > main > table > tfoot > tr > td > div > span.active,
.widget .pull_out > div > span.active {
    background-color: var(--lcars-lilac);
}

.widget > main > table > tfoot > tr > td > span.inactive,
.widget .pull_out > div > span.inactive {
    background-color: var(--lcars-purple);
}

.widget .pull_out > div > span.info {
    background-color: var(--lcars-yellow);
}

.widget .pull_out span a,
.widget .pull_out span a:visited,
.widget .pull_out span > div {
    text-decoration: none;
    display: block; margin-right: 0.5em;
    color: var(--background);
}

.widget main .delete_button {
    display: inline-block;
    height: 20px; line-height: 20px;
    border-left: 0.25em solid var(--background);
    border-right: 0.25em solid var(--background);
}

.widget main .delete_button span a,
.widget main .delete_button span {
    display: inline-block;
}

.widget main .delete_button span.active a,
.widget main .delete_button span.active {
    background-color: var(--lcars-red);
}

.widget main .delete_button span.inactive a,
.widget main .delete_button span.inactive {
    background-color: var(--lcars-yellow);
}

.widget main .select_button a {
    border-radius: 0;
    padding: 0 0.75em;
}
/* */
.widget main a {
    border-radius: 0.5em;
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    padding: 0 0.5em;
}

.widget main a,
.widget main a:visited {
    background-color: var(--lcars-light-blue);
    color: black;
}

.widget main a:hover {
    text-decoration: none;
}

.widget main span.active a {
    background-color: var(--lcars-yellow);
}

.widget main span.inactive a {
    background-color: var(--lcars-red);
}
/* debug options -> end */

@media only screen {
    td[id^="player_table_row_"][id$="_id"],
    tr[id^="player_table_row_"] td[class="position"],
    td[id^="player_table_row_"][id$="_ping"],
    td[id^="player_table_row_"][id$="_last_updated_servertime"],
    td[id^="player_table_row_"][id$="_last_seen_gametime"],
    td[id^="manage_locations_table_row_"][id$="_id"],
    td[id^="manage_locations_table_row_"][id$="_last_changed"],
    td[id^="manage_locations_table_row_"][id$="_coordinates"],
    td[id^="manage_locations_table_row_"][id$="_owner"] {
        font-size: 0.90em;
        vertical-align: middle;
    }
}
