:root {
    --background: black;

    --lcars-orange: #ff9900;
    --lcars-lilac: #CC99CC;
    --lcars-dark-blue: #9999CC;
    --lcars-red: #CC6666;
    --lcars-yellow: #FFCC99;
    --lcars-light-blue: #9999FF;
    --lcars-brown: #FF9966;
    --lcars-purple: #CC6699;
}

@font-face {
    font-family: 'SWISS 911 Ultra Compressed BT';
    src: url('fonts/SWISS911UltraCompressedBT.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SWISS 911 Extra Compressed BT';
    src: url('fonts/SWISS911ExtraCompressedBT.ttf'); /*URL to font*/
}
/* */
html {
    font-size: 16px;
    background: var(--background);
}

a,
a:visited {
    color: var(--background);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: "SWISS 911 Extra Compressed BT", sans-serif;
    min-width: 66.5em; max-width: 78em;
}

header {
    height: 5.75em;
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

header > div {
    position: relative;
    height: 5.75em;
    margin: 0 1em 0 21.25em;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

header #gametime_widget {
    position: absolute;
    font-size: 2.5em;
    color: black;
    bottom: 0.5em; left: -8.2em;
}

header > div > hgroup {
    position: absolute;
    top: 0; right: 2em;
    background-color: var(--background);
    height: 2.625em;
}

header > div > hgroup > h1 {
    color: var(--lcars-yellow);
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
    text-transform: uppercase;
    padding: 0 0.5em;
    font-size: 2.625em; line-height: 1em;
}

header > div > aside {
    position: absolute;
    bottom: 1.125em; right: 0;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header > div > aside a,
header > div > aside a:visited {
    color: var(--lcars-light-blue);
}

header #gameserver_status_widget {
    position: absolute;
    bottom: 1.125em;
    color: var(--lcars-orange);
    background-color: var(--background);
}

header #gameserver_status_widget a,
header #gameserver_status_widget a:visited {
    color: var(--lcars-light-blue);
}

main {
    position: relative;
    background: url(ui/main_vertical_bar.png) repeat-y;
    color: var(--lcars-orange);
}

main > div {
    margin: 0 0 0 21.25em;
    display: flex;
    flex-direction: column;
}

main > div #webserver_status_widget {
    order: -1;
}

main > div #player_table_widget {
    order: 0;
}

main > div #manage_whitelist_widget {
    order: 1;
}

main > div #telnet_log_widget {
    order: 99;
}

main > div > .widget {
    color: var(--lcars-brown);
    margin-bottom: 2em;
    min-height: 10em;
}

main > div > .widget a,
main > div > .widget a:visited {
    color: var(--lcars-light-blue);
}

main > div > .widget .pull_out span a,
main > div > .widget .pull_out span a:visited {
    color: var(--background);
}

main > div > .widget:last-child {
    margin-bottom: 0;
}

main > div > .widget table {
    width: calc(100% - 3em);
}

main > div > .widget table caption {
    color: var(--lcars-dark-blue);
    margin-top: 0.5em;
}

main > div > .widget thead tr {
    color: black;
    height: 2em; line-height: 2em;
    border-bottom: 0.5em solid var(--background);
}

main > div > .widget thead tr:last-child {
    color: black;
    background-color: #CC6699;
    border-top: 0.5em solid var(--background);
}

main > div > .widget:first-child thead tr:last-child {
    border-top: 0;
}

main > div > .widget tfoot tr {
    border-top: 0.5em solid var(--background);
}

main > div > .widget:not(:first-child) .pull_out td > div > span {
    border-bottom: 0;
}

main > div > .widget:not(:first-child) .pull_out td > div:last-child > span {
    border-bottom: 0.5em solid var(--background);
}

main > div > .widget tr:not(.pull_out) a:before,
main > div > .widget tr:not(.pull_out) a:after {
    content: " ";
    z-index: -1;
    display: inline-block;
    width: 1em; height: 1em;
}

main > div > .widget tr:not(.pull_out) a:before {
    width: 1em;
}

main > div > .widget tr:not(.pull_out) a {
    font-size: 90%;
    border-radius: 0.5em;
    font-family: "SWISS 911 Ultra Compressed BT", sans-serif;
}

main > div > .widget tr:not(.pull_out) a,
main > div > .widget tr:not(.pull_out) a:visited {
    background-color: var(--lcars-light-blue);
    color: black;
}
main > div > .widget tr:not(.pull_out) a:hover {
    text-decoration: none;
}

main > div > .widget tr:not(.pull_out) span.inactive a:hover,
main > div > .widget tr:not(.pull_out) span.active a {
    background-color: var(--lcars-yellow);
}

main > div > .widget tr:not(.pull_out) span.active:hover a,
main > div > .widget tr:not(.pull_out) span.inactive a {
    background-color: var(--lcars-red);
}

main > div > .widget .pull_out {
    position: absolute;
    left: 0;
    width: 19.625em;
    display: flex;
    justify-content: flex-end;
}

main > div > .widget .pull_out td {
    width: 100%;
}

main > div > .widget:not(:first-child) .pull_out td > div:first-child > span,
main > div > .widget:not(:first-child) .pull_out td > div:last-child > span {
    border-top: 0.5em solid var(--background);
}

main > div > .widget .pull_out td > div > span {
    display: block;
    background-color: var(--lcars-purple);
    border-bottom: 0.5em solid var(--background);
    padding: 0 0.5em;
}

main > div > .widget .pull_out td > div > span.active {
    background-color: var(--lcars-lilac);
}

main > div > .widget .pull_out td > div > span.inactive {
    background-color: var(--lcars-purple);
}

main > div > .widget .pull_out td > div > span.info {
    background-color: var(--lcars-yellow);
}

main > div > .widget .pull_out td > #manage_whitelist_widget_enable_disable_toggle > span.inactive  {
    background-color: var(--lcars-red);
}

main > div > .widget .pull_out span a {
    display: block;
    width: 100%; height: 2em;
    font-size: 1em;
    background-color: transparent;
}

main > div > .widget .log_line {
    height:1em; line-height:1em;
}

footer {
    transform: scaleY(-1);
    height: 5.75em;
    background:
            url(ui/main_shoulder.png) no-repeat top left,
            url(ui/main_horizontal_bar_end.png) no-repeat top right;
}

footer > div:before {
    transform: scaleY(-1);
    width: 100%;
    height: 5.75em;
    content: "";
    z-index: -1;
    position: absolute;
    background: url(ui/main_horizontal_bar.png) repeat-x;
}

footer > div {
    display: flex;
    align-items: flex-end;

    height: 5.75em;
    margin: 0 1em 0 21.25em;

    position: relative;
    overflow: hidden;

    transform: scaleY(-1);
}

footer > div > p {
    width: calc(100vw - 21.25em - 2em);
    white-space: nowrap;
}
