<header>
    <div>
        <span>Entities</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table class="data_table">
        <caption>
            <span>obey</span>
        </caption>
        <thead>
            {{ table_header }}
        </thead>
        <tbody id="entity_table">
            {{ table_rows }}
        </tbody>
        <tfoot>
            {{ table_footer }}
        </tfoot>
    </table>
    <div class="dialog">
        <div class="modal-content">
            <p>this is the text inside the modal</p>
        </div>
    </div>
</main>