<header>
    <div>
        <span>Telnet Log - Unmatched Patterns</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table>
        <caption>
            <span class="pattern_line">Unmatched telnet patterns - select for trigger development</span>
        </caption>
        <thead>
            {{ pattern_table_header }}
        </thead>
        <tbody id="pattern_table">
            {{ pattern_lines }}
        </tbody>
        <tfoot>
            {{ table_footer }}
        </tfoot>
    </table>
</main>
