<header>
    <div>
        <span>Telnet Log</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table>
        <caption>
            <span class="log_line">standard message</span>
            <span class="game_chat">player chat</span>
            <span class="player_logged">login / logout</span>
            <span class="bot_command">bot command</span>
        </caption>
        <thead>
            {{ table_header }}
        </thead>
        <tbody>
            <tr>{{ log_lines }}</tr>
        </tbody>
        <tfoot>
            {{ table_footer }}
        </tfoot>
    </table>
</main>