<header>
    <div>
        <span>Telnet Log - Unmatched Patterns</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table>
        <caption>
            <span class="pattern_line">Unmatched telnet patterns - select for future trigger development</span>
        </caption>
        <thead>
            <tr>
                <th style="width: 40px;">Select</th>
                <th style="width: 40%;">Pattern</th>
                <th style="width: calc(60% - 40px);">Example Line</th>
            </tr>
        </thead>
        <tbody>
            {{ pattern_lines }}
        </tbody>
    </table>
</main>
