{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
<tr id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}"{%- if css_class %} class="{{ css_class }}"{%- endif -%}>
    <td>
        <span id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_control_select_link" class="select_button">{{ control_select_link }}</span>
    </td>
    <td class="nobr" id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_actions">&nbsp;</td>
    <td id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_name" onclick="$(this).selectText();">{{ entity.name }}</td>
    <td id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_type" onclick="$(this).selectText();">{{ entity.type }}</td>
    <td class="position right" onclick="$(this).selectText();">
        <span id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_pos_x">
            {{ ((entity | default({})).pos | default({}) ).x | default('0') }}
        </span>
        <span id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_pos_y">
            {{ ((entity | default({})).pos | default({}) ).y | default('0') }}
        </span>
        <span id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_pos_z">
            {{ ((entity | default({})).pos | default({}) ).z | default('0') }}
        </span>
    </td>
    <td id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_id" onclick="$(this).selectText();">{{ entity.id }}</td>
    <td class="center" id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_health">{{ entity.health }}</td>
    <td class="nobr right" id="entity_table_row_{{ entity.dataset }}_{{ entity.id }}_last_seen_gametime">
        {{ entity.last_seen_gametime }}
    </td>
</tr>
