{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
{%- set location_is_enabled = location.is_enabled|default(false) -%}
{%- set location_entry_selected = false -%}
<tr id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}"{%- if css_class %} class="{{ css_class }}"{%- endif -%}>
    <td>
        <span id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_control_select_link" class="select_button">{{ control_select_link }}</span>
    </td>
    <td class="right" id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_actions">
        <span id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_control_edit_link" class="toggle_button">{{ control_edit_link }}</span>
        <span id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_control_enabled_link" class="toggle_button">{{ control_enabled_link }}</span>
    </td>
    <td id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_name" onclick="$(this).selectText();">{{ location.name }}</td>
    <td id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_id" onclick="$(this).selectText();">{{ location.identifier }}</td>
    <td id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_owner_name" onclick="$(this).selectText();">{{ player_dict.name }}</td>
    <td id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_owner" onclick="$(this).selectText();">{{ location.owner }}</td>
    <td class="right" id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_last_changed">{{ location.last_changed }}</td>
    <td class="right" id="manage_locations_table_row_{{ location.origin }}_{{ location.owner}}_{{ location.identifier }}_coordinates" onclick="$(this).selectText();">
        {{ ((location | default({})).coordinates | default({}) ).x }}
        {{ ((location | default({})).coordinates | default({}) ).y }}
        {{ ((location | default({})).coordinates | default({}) ).z }}
    </td>
</tr>
