<table>
    <thead>
        {{ options_toggle }}
        <tr>
            <th>Create a new location!</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% include "locations_widget/view_create_new_set_name.html" %}
                {% include "locations_widget/view_create_new_identifier.html" %}
                {% include "locations_widget/view_create_new_select_shape.html" %}
                {% include "locations_widget/view_create_new_set_dimensions.html" %}
                {% include "locations_widget/view_create_new_control_send_data.html" %}
            </td>
        </tr>
    </tbody>
</table>