<header>
    <div>
        <span>Locations</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table>
        <thead>
            <tr>
                <th colspan="2">location widget options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2"><span>location-options</span></th>
            </tr>
            {% for key, value in widget_options.items() %}
            <tr>
                <td><span>{{key}}</span></td><td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>