<table class="box_input">
    <thead>
        <tr>
            <th>
                Choose the name of your location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <label><span>
                        <input type="text" name="location_name" value="{{ location_name_value }}"/>
                        location name</span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                Sets the name of your location<br />
                this is only for visual purposes, it has no bearing on it's function<br />
                This setting can be changed later on, at any time!
            </td>
        </tr>
    </tfoot>
</table>
