<table class="box_select">
    <thead>
        <tr>
            <th colspan="2">
                Chose the shape of your location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="box">
                    <label><span>
                        <input type="radio" name="location_shape" value="circle">
                        circle (2d)</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="box">
                    <label>
                        <span><input type="radio" name="location_shape" value="spherical">
                        spherical (3d)</span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box">
                    <label><span>
                        <input type="radio" name="location_shape" value="square">
                        square (2d)</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="box">
                    <label><span>
                        <input type="radio" name="location_shape" value="cubical">
                        cubical (3d)</span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                locations can have several different shapes.<br />
                you can have either a square or a round base, depending on your build-style<br />
                You can also limit the height of your locations, so you can build, for example,
                an underground base without affecting the ground above at all.<br />
                It is also useful for building multi-story builds with different locations per level,
                or even room.<br />
                This setting can be changed later on, at any time!
            </td>
        </tr>
    </tfoot>
</table>
