{%- set logged_in_users_count = webserver_logged_in_users|length -%}
<table>
    <thead>
        <tr class="pull_out">
            <th>Webserver</th>
        </tr>
        <tr>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>{{ logged_in_users_count }}</strong>{%- if logged_in_users_count == 1 %} user is {%- else %} users are {%- endif %} currently using the webinterface!<br />
                {%- if webserver_logged_in_users -%}
                ({{ webserver_logged_in_users|join(', ') }})
                {%- endif -%}
            </td>
        </tr>
    </tbody>
</table>