<header>
    <div>
        <span>Example: Checkbox Table</span>
    </div>
</header>
<aside>
    {{ options_toggle }}
</aside>
<main>
    <table class="data_table">
        <caption>
            <span>This is an example table with selectable checkboxes</span>
        </caption>
        <thead>
            {{ table_header }}
        </thead>
        <tbody id="checkbox_table">
            {{ table_rows }}
        </tbody>
        <tfoot>
            {{ table_footer }}
        </tfoot>
    </table>
    <div class="dialog">
        <div id="manage_players_widget_modal" class="modal-content">
            <p>this is the text inside the modal</p>
        </div>
    </div>
</main>
