{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
{% set owner = dom_element.owner|default("null") %}
{% set identifier = dom_element.identifier|default("null") %}
{% set dataset = dom_element.dataset|default("null") %}
{% set dataset_original = dom_element.dataset_original|default(dataset) %}
{% set event_action = event_action|default('select') %}
{% set label_active = label_active|default("&#9745;") %}
{% set label_inactive = label_inactive|default("&#9744;") %}
{{ construct_toggle_link(
    dom_element_entry_selected,
    label_active, ['widget_event', ['dom_management', [event_action, {
        "dom_element_select_root": dom_element_select_root,
        "target_module": target_module,
        "dom_element_owner": owner,
        "dom_element_identifier": identifier,
        "dom_element_origin": dataset_original,
        'action': dom_action_active
    }]]],
    label_inactive, ['widget_event', ['dom_management', [event_action, {
        "dom_element_select_root": dom_element_select_root,
        "target_module": target_module,
        "dom_element_owner": owner,
        "dom_element_identifier": identifier,
        "dom_element_origin": dataset_original,
        "action": dom_action_inactive
    }]]]
) }}