{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
<table class="delete_modal">
    <tr>
        <td colspan="2">
            <p>Make sure you've got the right stuff selected! Deletions can not be undone.</p>
            <p>You have {{ count|string }} elements selected for deletion!</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>By clicking [confirm] you will continue to proceed deleting {{ count|string }} elements.</p>
        </td>
        <td>
            <p>Clicking [cancel] will abort the deletion process, it will keep the selection intact.</p>
        </td>
    </tr>
    <tr>
        <td>
            <div id="{{ dom_element_id }}_confirm" class="modal_delete_button">
            {{ construct_toggle_link(
                delete_selected_entries_active,
                "confirm", ['widget_event', ['dom_management', ['delete', {
                    "target_module": target_module,
                    "dom_element_root": dom_element_root,
                    'action': dom_action,
                    'confirmed': confirmed
                }]]]
            ) }}
            </div>
        </td>
        <td>
            <div id="{{ dom_element_id }}_cancel" class="modal_cancel_button">
            {{ construct_toggle_link(
                delete_selected_entries_active,
                "cancel", ['widget_event', ['dom_management', ['delete', {
                    "target_module": target_module,
                    "dom_element_root": dom_element_root,
                    'action': "cancel_delete_selected_dom_elements"
                }]]]
            ) }}
            </div>
        </td>
    </tr>
</table>