<table>
    <caption>
        [<span class="is_online">online</span>]
        [<span>offline</span>]
        [<span class="in_limbo is_online">online and dead</span>]
        [<span class="in_limbo is_offline">logging in</span>] or
        [<span class="in_limbo is_offline">offline and dead</span>]
    </caption>
    <thead>
        <tr>
            <th>name</th>
            <th>id</th>
            <th>steamid</th>
            <th>health</th>
            <th>pos</th>
            <th>rot</th>
            <th>level</th>
            <th>ip</th>
            <th>ping</th>
            <th>deaths</th>
            <th>zombies</th>
            <th>players</th>
            <th>score</th>
            <th>last seen</th>
        </tr>
    </thead>
    <tbody>
        {{ table_rows }}
    </tbody>
</table>