{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
<tr>
    <td colspan="2">
    </td>
    <td>
        <label>
            <input id="manage_whitelist_add_steamid_input" type="text" placeholder="" />
        </label>
    </td>
    <td>
        <script language="javascript">
            function add_steamid_to_whitelist() {
                let steamid = $('#manage_whitelist_add_steamid_input').val();
                window.socket.emit(
                    'widget_event',
                    ['whitelist', ['manage_whitelist', {'steamid': steamid, 'action': 'add_to_whitelist'}]]
                );
            }
        </script>
        <a href="#" onclick="add_steamid_to_whitelist(); return false;">add</a>
    </td>
</tr>
