{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
<tr id="manage_whitelist_widget_status" class="pull_out">
    <td class="right" colspan="4">
        <div>
            Whitelist
        </div>
        <div>
            {{ construct_toggle_link(
                enable_disable_toggle,
                "deactivate", ['widget_event', ['whitelist', ['manage_whitelist', {"action": "deactivate_whitelist"}]]],
                "activate", ['widget_event', ['whitelist', ['manage_whitelist', {"action": "activate_whitelist"}]]]
            )}}
        </div>
    </td>
</tr>