{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
<tr id="manage_whitelist_widget_status">
    <th class="right" colspan="4">
        {{ whitelist_status }}
        ({{ construct_toggle_link(
            enable_disable_toggle,
            "deactivate", ['widget_event', ['whitelist', ['manage_whitelist', {"action": "deactivate_whitelist"}]]],
            "activate", ['widget_event', ['whitelist', ['manage_whitelist', {"action": "activate_whitelist"}]]]
        ) }})
    </th>
</tr>