{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
{%- set player_is_on_whitelist = player.on_whitelist|default(false) -%}
<tr id="manage_whitelist_table_row_{{ player.steamid }}"{%- if css_class %} class="{{ css_class }}"{%- endif -%}>
    <td id="manage_whitelist_table_row_{{ player.steamid }}_name" onclick="$(this).selectText();">{{ player.name }}</td>
    <td id="manage_whitelist_table_row_{{ player.steamid }}_id" onclick="$(this).selectText();">{{ player.id }}</td>
    <td id="manage_whitelist_table_row_{{ player.steamid }}_steamid" onclick="$(this).selectText();">{{ player.steamid }}</td>
    <td id="manage_whitelist_table_row_{{ player.steamid }}_actions">
        {{ construct_toggle_link(
            player_is_on_whitelist,
            "remove", ['widget_event', ['whitelist', ['manage_whitelist', {"steamid": player.steamid, "action": "remove_from_whitelist"}]]],
            "add", ['widget_event', ['whitelist', ['manage_whitelist', {"steamid": player.steamid, "action": "add_to_whitelist"}]]]
        ) }}
    </td>
</tr>
