{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
<tr id="manage_whitelist_table_row_{{ player.steamid }}"{%- if css_class %} class="{{ css_class }}"{%- endif -%}>
    <td id="manage_whitelist_table_row_{{ player.steamid }}_name" onclick="$(this).selectText();">{{ player.name }}</td>
    <td class="right" id="manage_whitelist_table_row_{{ player.steamid }}_id" onclick="$(this).selectText();">{{ player.id }}</td>
    <td class="right" id="manage_whitelist_table_row_{{ player.steamid }}_steamid" onclick="$(this).selectText();">{{ player.steamid }}</td>
    <td class="right" id="manage_whitelist_table_row_{{ player.steamid }}_actions">
        <span id="manage_whitelist_table_row_{{ player.steamid }}_control_toggle_active_link">{{ control_toggle_active_link }}</span>
        <span id="manage_whitelist_table_row_{{ player.steamid }}_control_select_link">{{ control_select_link }}</span>
    </td>
</tr>
