html, body {
    margin: 0; padding: 0;
}

header, footer, main {
    position: absolute;
    right: 0;
    left: 0
}

header {
    height: 2em;
    top: 0;
}

footer {
    height: 2em;
    bottom: 0;
}

main {
    top: 2em;
    bottom: 2em;
    overflow: hidden;
}

main > div {
    height: calc(100vh - 4em);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.widget {
    order: 1;
    display: block;
    flex: 1 0 30%;
    line-height: 1.33em;
    min-height: calc(1.33em * 2);
    background-color: white;
}

.widget:nth-child(odd) {
    background-color: lightyellow;
}

.widget ul, .widget li {
    margin: 0; padding: 0;
    list-style-type: none;
}

table.widget {
    display: flex;
    flex-direction: column;
}

table.widget tr {
    display: flex;
    min-height: 1.33em;
}

table.widget th {
    text-align: center;
}

table.widget td, table.widget th {
    flex: 1;
}