header > div {
    background-color: cadetblue;
    line-height: 2em;
}

header > div h1 {
    font-size: 1em;
    margin: 0 0 0 1em; padding: 0;
    float: left;
}

header > div aside {
    float: right;
    margin-right: 1em;
}

main > div {
    background-color: blanchedalmond;
}

main > div > p {
    margin: 0 0 0.5em 0; padding: 0;
}

footer > div {
    text-align: right;
    background-color: aliceblue;
    line-height: 2em;
    margin-right: 1em;
}

.widget, .widget li {
    overflow: auto;
    margin: 0; padding: 0;
}

.widget .log_line {
    margin: 0; padding: 0;
    font-size: 0.8em;
}

tr.is_online {
    background-color: limegreen;
}

tr.on_whitelist {
    background-color: greenyellow;
}

tr.is_online.in_limbo {
    background-color: darkorange;
}

tr.is_offline.in_limbo {
    background-color: antiquewhite;
}

#gametime_widget {
    max-height: 1em;
}

#gameserver_status_widget {
    max-height: 1em;
}

#webserver_status_widget {
    max-height: 2em;
}

#player_table_widget {
    order: 2;
    flex-basis: 40%;
}

#player_table_widget table {
/*    width: 100%; */
    font-size: 90%;
    min-width: 832px;
}

#player_table_widget th.center,
#player_table_widget td.center {
    text-align: center;
}

#player_table_widget th.left,
#player_table_widget td.left {
    text-align: left;
}

#player_table_widget th.right,
#player_table_widget td.right {
    text-align: right;
}

#player_table_widget th.nobr,
#player_table_widget td.nobr {
    white-space: nowrap;
}

#player_table_widget caption {
    text-align: right;
}

#player_table_widget_options_toggle th {
    text-align: right;
    background-color: darkkhaki;
}


@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 840px) {
}

@media only screen and (max-width: 640px) {
}

#telnet_log_widget {
    order: 10;
    flex-basis: 40%;
}

#manage_whitelist_widget {
    order: 9;
}

#manage_whitelist_widget table {
    width: 100%;
    max-width: 30em;
}

#manage_whitelist_widget caption {
    text-align: right;
}

#manage_whitelist_widget_status th {
    text-align: right;
    background-color: darkkhaki;
}

#manage_whitelist_widget tfoot {
    line-height: 1em;
    background-color: slategrey;
}

#manage_whitelist_widget tfoot a {
    color: black;
}

#manage_whitelist_widget label {
    width: 100%;
    border: 0;
    margin: 0; padding: 0;
}

#manage_whitelist_add_steamid_input {
    width: 100%;
    border: 0;
    margin: 0; padding: 0;
    background-color: azure;
}

#manage_whitelist_widget td:last-child {
    text-align: right;
}