{%- from 'jinja2_macros.html' import construct_toggle_link with context -%}
<table class="delete_modal">
    <tr>
        <td colspan="2">
            <p>Are you sure you want to kick player {{ steamid }}?</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>By clicking [confirm] you will continue to proceed kicking the dude.</p>
        </td>
        <td>
            <p>Clicking [cancel] will abort the kicking.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="kick_player_reason">
                <textarea>{{ reason }}</textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="kick_player_confirm" class="modal_delete_button">
            {{ construct_toggle_link(
                True,
                "confirm", ['widget_event', ['players', ['kick_player', {
                    'action': 'kick_player',
                    'steamid': steamid,
                    'confirmed': 'True'
                }]]]
            ) }}
            </div>
        </td>
        <td>
            <div id="kick_player_cancel" class="modal_cancel_button">
            {{ construct_toggle_link(
                True,
                "cancel", ['widget_event', ['players', ['kick_player', {
                    'action': "cancel_kick_player",
                    'steamid': steamid
                }]]]
            ) }}
            </div>
        </td>
    </tr>
</table>