<tr>
    <th>*</th>
    <th onclick="window.sorting(this, player_table, 1)">actions</th>
    <th onclick="window.sorting(this, player_table, 2)">level</th>
    <th onclick="window.sorting(this, player_table, 3)">name</th>
    <th onclick="window.sorting(this, player_table, 4)">health</th>
    <th onclick="window.sorting(this, player_table, 5)">id</th>
    <th onclick="window.sorting(this, player_table, 6)">steamid</th>
    <th onclick="window.sorting(this, player_table, 7)">pos</th>
    <th onclick="window.sorting(this, player_table, 8)">zombies</th>
    <th onclick="window.sorting(this, player_table, 9)" class="right">last seen</th>
    <th onclick="window.sorting(this, player_table, 10)" class="right">gametime</th>
</tr>