<header>
    <div>
        <span>Players</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table class="data_table">
        <caption>
            <span>offline</span>
            <span class="in_limbo">offline and dead</span>
            <span class="is_online in_limbo">logging in</span>
            <span class="is_online is_initialized">online</span>
            <span class="in_limbo is_online is_initialized">online and dead</span>
        </caption>
        <thead>
            {{ table_header }}
        </thead>
        <tbody>
            {{ table_rows }}
        </tbody>
        <tfoot>
            {{ table_footer }}
        </tfoot>
    </table>
    <div class="dialog">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p>this is the text inside the modal</p>
        </div>
    </div>
</main>
