<header>
    <div>
        <span>Performance Profiling</span>
    </div>
</header>
<aside>
{{ options_toggle }}
</aside>
<main>
    <table class="options_table">
        <thead>
            <tr>
                <th colspan="2">Command Tracking System</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2"><span>Status</span></th>
            </tr>
            <tr>
                <td><span>PROFILING_ENABLED</span></td>
                <td>
                    {% if profiling_enabled %}
                        <span class="has_health">Yes</span>
                    {% else %}
                        <span class="fail">No - Set PROFILING_ENABLED=True</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><span>Tracking Status</span></td>
                <td>
                    {% if tracking_active %}
                        <span class="has_health">Active - Test running...</span>
                    {% else %}
                        <span>Inactive</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th colspan="2"><span>Test Configuration</span></th>
            </tr>
            <tr>
                <td><span>Command</span></td>
                <td>lp (list players)</td>
            </tr>
            <tr>
                <td><span>Duration</span></td>
                <td>~30 seconds (10 LP commands)</td>
            </tr>
            <tr>
                <td><span>Output</span></td>
                <td>bot/diagnostic_logs/command_tracking_lp_{timestamp}.json</td>
            </tr>
            <tr>
                <th colspan="2"><span>Actions</span></th>
            </tr>
            <tr>
                <td colspan="2">
                    {% if profiling_enabled and not tracking_active %}
                    <a class="button"
                       onclick="window.socket.emit('widget_event',
                           ['players', ['start_profiling', {
                               'steamid': '{{ steamid }}'
                           }]]);">
                        Start Performance Test
                    </a>
                    {% elif not profiling_enabled %}
                    <span class="fail">Start bot with PROFILING_ENABLED=True to enable testing</span>
                    {% else %}
                    <span class="has_health">Test in progress - please wait (~30 seconds)...</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th colspan="2"><span>Instructions</span></th>
            </tr>
            <tr>
                <td colspan="2">
                    <ol>
                        <li>Ensure bot is running with PROFILING_ENABLED=True</li>
                        <li>Click "Start Performance Test" button above</li>
                        <li>Wait ~30 seconds for 10 LP commands to complete</li>
                        <li>Check bot/diagnostic_logs/ for the JSON result file</li>
                        <li>Analyze timestamps to identify delays</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</main>
