<table id="player_table_widget">
    <thead>
        <tr>
            <th>id</th>
            <th>steamid</th>
            <th>name</th>
            <th>health</th>
            <th>pos</th>
            <th>rot</th>
            <th>level</th>
            <th>ip</th>
            <th>ping</th>
            <th>deaths</th>
            <th>zombies</th>
            <th>players</th>
            <th>score</th>
            <th>last update</th>
        </tr>
    </thead>
    <tbody>
        {{ table_rows }}
    </tbody>
</table>