<table id="player_table_widget">
    <thead>
        <tr>
            <td>id</td>
            <td>steamid</td>
            <td>name</td>
            <td>health</td>
            <td>pos</td>
            <td>rot</td>
            <td>level</td>
            <td>ip</td>
            <td>ping</td>
            <td>deaths</td>
            <td>zombies</td>
            <td>players</td>
            <td>score</td>
            <td>last update</td>
        </tr>
    </thead>
    <tbody>
        {{ table_rows }}
    </tbody>
</table>