{%- from 'jinja2_macros.html' import construct_toggle_link with context  -%}
<span id="location_table_row_{{ location.dataset }}_{{ location.owner}}_{{ location.identifier }}_control_enabled_link" class="toggle_button">
{{- construct_toggle_link(
    location.is_enabled,
    "enabled", ['widget_event', ['locations', ['management_tools', {
        "dom_element_owner": location.owner,
        "dom_element_identifier": location.identifier,
        "dom_element_origin": location.dataset,
        "action": "disable_location_entry"
    }]]],
    "enabled", ['widget_event', ['locations', ['management_tools', {
        "dom_element_owner": location.owner,
        "dom_element_identifier": location.identifier,
        "dom_element_origin": location.dataset,
        "action": "enable_location_entry"
    }]]]
) -}}
</span>