<table class="box_input">
    <tbody>
        <tr>
            <td>
                <div>{%- if not is_edit %}
                    <script language="javascript">
                        $("input[name='location_name']").on('input', function() {
                            let location_name = $("input[name='location_name']").val();
                            let location_identifier = location_name.replace(/[^a-zA-Z0-9]/g, '');
                            $("input[name='location_identifier']").val(location_identifier);
                        });
                        </script>{% endif %}
                    <label>
                        <span>
                            <input type="text" name="location_identifier" value="{{ location_dict.identifier }}" disabled="disabled" />
                            location Identifier
                        </span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <div>
                    This is the Identifier of your location<br />
                    It is used to handle the location with in-game chat commands<br />
                    It has to be unique for each users locations.<br />
                    This setting can not be changed later on!<br />
                </div>
            </td>
        </tr>
    </tfoot>
</table>
