{% set teleport_entry = location_dict.teleport_entry|default({}) %}
{% set pos_x = teleport_entry.x|default("0") %}
{% set pos_y = teleport_entry.y|default("0") %}
{% set pos_z = teleport_entry.z|default("0") %}
<table class="box_input">
    <thead>
        <tr>
            <th colspan="4">
                Choose the teleport-entry for this location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <label>x: <input size="6" name="location_teleport_entry_x" type="text" value="{{ pos_x }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <label>y: <input size="6" name="location_teleport_entry_y" type="text" value="{{ pos_y }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <label>z: <input size="6" name="location_teleport_entry_z" type="text" value="{{ pos_z }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <a href="#" onclick="use_current_coordinates(); return false;">use current position</a>
                </div>
            </td>
            <script>
                function use_current_coordinates() {
                    $("input[name='location_teleport_entry_x']").val($("#location_coordinates_x").text());
                    $("input[name='location_teleport_entry_y']").val($("#location_coordinates_y").text());
                    $("input[name='location_teleport_entry_z']").val($("#location_coordinates_z").text());
                }
            </script>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <div>
                    Sets the teleport-entry point for your location<br />
                    Players using the bots travel commands will emerge in this spot and not in the default S/E corner
                </div>
            </td>
        </tr>
    </tfoot>
</table>
