{% set checked_string = ' checked="checked"' %}
{% set location_type_not_found = true %}
{% if "is_village" in location_dict["type"] %}
    {% set location_type_village_checked = checked_string %}
    {% set location_type_not_found = false %}
{% endif %}
{% if "is_screamerfree" in location_dict["type"] %}
    {% set location_type_screamerfree_checked = checked_string %}
    {% set location_type_not_found = false %}
{% endif %}
{% if "is_home" in location_dict["type"] %}
    {% set location_type_home_checked = checked_string %}
    {% set location_type_not_found = false %}
{% endif %}
{% if "is_lobby" in location_dict["type"] %}
    {% set location_type_lobby_checked = checked_string %}
    {% set location_type_not_found = false %}
{% endif %}
{% if location_type_not_found %}{% endif %}
<table class="box_select">
    <thead>
        <tr>
            <th colspan="2">
                Choose the type of your location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="box">
                    <label><span>
                        <input type="checkbox" name="location_type[]" value="is_village" {{ location_type_village_checked }}/>
                        This location is a village and will have all village-functions enabled</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="box">
                    <label>
                        <span><input type="checkbox" name="location_type[]" value="is_screamerfree" {{ location_type_screamerfree_checked }}/>
                        Screamers will be killed on arrival</span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="box">
                    <label><span>
                        <input type="checkbox" name="location_type[]" value="is_home" {{ location_type_home_checked }} />
                        a player will be able to teleport to this under special circunstances</span>
                    </label>
                </div>
            </td>
            <td>
                <div class="box">
                    <label><span>
                        <input type="checkbox" name="location_type[]" value="is_lobby" {{ location_type_lobby_checked }} />
                        No way out. Unless you know the password.<br />
                        What's the word?<br />
                        B-b-b-b-b-b-b-b-bird bird bird b-b-bird is the word :)</span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">
                <div>
                    locations can have a bunch of types<br />
                    Types will add to one another, so you could create a home-lobby that is screamer-free and also it's own village :)<br />
                    uncheck all to make it a simple location without any features attached. What for you ask?<br />
                    Well, you could make your Builds available via locations, then people might find them easier.
                </div>
            </td>
        </tr>
    </tfoot>
</table>
