{% set coordinates = location_dict.coordinates|default({}) %}
{% set pos_x = coordinates.x|default("0") %}
{% set pos_y = coordinates.y|default("-1") %}
{% set pos_z = coordinates.z|default("0") %}
<table class="box_input">
    <thead>
        <tr>
            <th colspan="4">
                Choose the coordinates of your location
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <label>x: <input size="6" name="location_coordinates_x" type="text" value="{{ pos_x }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <label>y: <input size="6" name="location_coordinates_y" type="text" value="{{ pos_y }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <label>z: <input size="6" name="location_coordinates_z" type="text" value="{{ pos_z }}" /></label>
                </div>
            </td>
            <td>
                <div>
                    <a href="#" onclick="use_current_coordinates2(); return false;">use current position</a>
                </div>
            </td>
            <script>
                function use_current_coordinates2() {
                    $("input[name='location_coordinates_x']").val($("#location_coordinates_x").text());
                    $("input[name='location_coordinates_y']").val($("#location_coordinates_y").text());
                    $("input[name='location_coordinates_z']").val($("#location_coordinates_z").text());
                }
            </script>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <div>
                    Sets the coordinates of your location<br />
                    This will be the S/E corner of your location area. For round shapes, imagine a rectangle wrapped around
                    it and use it's S/E corner
                </div>
            </td>
        </tr>
    </tfoot>
</table>
