{%- set not_configured_message = "You should not see this on a configured bot" -%}
<!doctype html>
<html>
    <head>
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/static/reset.css" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/lcars/style.css" />
        <title>{{ title }}</title>
        <script src="/static/jquery-3.4.1.min.js"></script>
        {% if current_user.is_authenticated == True %}
        <script src="/static/socket.io-2.2.0.slim.js"></script>
        <script src="/static/system.js"></script>
        {% endif %}
        {%- if head -%}{{ head }}{%- endif -%}
    </head>
    <body{%- if instance_token %} data-instance-identifier="{{ instance_token }}"{% endif %}>
        <header>
            <div>
                {{ header }}
            </div>
        </header>
        <main>
            <div>
                {{ main }}
            </div>
        </main>
        <footer>
            <div>
                {{ footer }}
            </div>
        </footer>
    </body>
</html>

