{%- set not_configured_message = "You should not see this on a configured bot" -%}
<!doctype html>
<html>
    <head>{%- block head -%}
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>{%- block title -%}{{ not_configured_message }}{%- endblock -%}</title>
    {%- endblock -%}</head>
    <body>
        <header>
            <div>
                {% block header -%}{{ not_configured_message }}{%- endblock %}
            </div>
        </header>
        <main>
            <div>
                {% block main -%}{%- endblock %}
            </div>
        </main>
        <footer>
            <div>
                {% block footer -%}{{ not_configured_message }}{%- endblock %}
            </div>
        </footer>
    </body>
</html>

