{%- extends "index.html" -%}
{%- block title -%}
    {%- if title -%}{{ title }}{%- else -%}{{ super() }}{%- endif -%}
{%- endblock -%}
{%- block head -%}
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/socket.io-2.2.0.slim.js"></script>
    <script src="/static/js.cookie-2.2.0.min.js"></script>
    <script src="/static/system.js"></script>
    {%- if head -%}{{ head }}{%- else -%}{{ super() }}{%- endif -%}
{%- endblock -%}
{%- block header -%}
    {%- if header -%}{{ header }}{%- else -%}{{ super() }}{%- endif -%}
{%- endblock -%}
{%- block main -%}
    {%- if main -%}{{ main }}{%- else -%}{{ super() }}{%- endif -%}
{%- endblock -%}
{%- block footer -%}
    {%- if footer -%}{{ footer }}{%- else -%}{{ super() }}{%- endif -%}
{%- endblock -%}
