<table>
    <caption>
        [<span>offline</span>]
        [<span class="in_limbo">offline and dead</span>]
        [<span class="is_online">logging in</span>] or
        [<span class="is_online is_initialized">online</span>]
        [<span class="in_limbo is_online is_initialized">online and dead</span>]
    </caption>
    <thead>
        {{ options_toggle }}
        <tr>
            <th>name</th>
            <th>id</th>
            <th>steamid</th>
            <th>pos</th>
            <th>level</th>
            <th>ping</th>
            <th class="right">last seen</th>
            <th class="right">gametime</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{ table_rows }}
    </tbody>
</table>